body {
	font-family: 'PT Sans Narrow', sans-serif;
}


/*********************************/
/* Build a grid of cards for a company's products */
/* THE GRID :: flexContainer */ 
/*********************************/

.cardGrid {
	display: flex;
    flex-flow: row wrap;
}


/*********************************/
/* THE CARDS :: flexItem */
/*********************************/
/* Each card should take up 30% of the width of the browser window.*/
/*The entire card has a solid 1px border that is lightblue.*/

.card {
    width: 30%;
    border: 1px solid lightblue;
    margin-top: 50px;
    margin-left: 30px;
}


/*********************************/
/* CARD HEADER, <item-1>'s <prodDescription> and <prodImage> */
/* and overall sizing structure <item-2> <item-3> */
/*********************************/
/* The card title has a dotted 1px border that is lightgray.*/
/*The title and product image are centered. */

h2:only-child {
	border: 1px dotted lightgray;
	margin-top: 0;
	padding: 15px;
	text-align: center;
}

/* Fit the product image and text within the card */
/* components of .item-1 :: the product image and product description ; */

.prodContainer, .item-3, .item-4, .prodImage {
	max-width: 90%;
	padding: 0 5%;
}


/*********************************/
/* SECTION 1 <item-2> */
/* Product Description
/* "Available" | "Not Available" bar
/*********************************/
.prodDesc {
	max-width: 90%;
	margin: auto;
}

.item-2 p:prodDesc(n) {
/*.item-2 p:nth-child(n) {*/
	font-weight: 900;
	font-size: .9em;
	padding: 0 5%;
	margin-top: 10px;
}

/* The text for the description in the image is justified.*/
.prodDesc p:nth-child(n) {
	text-align: justify;
	margin: 10px 20px;
}

.available {
	max-width: 100%;
	padding: 0 10px;
	color: yellow;
	background-color: lightgrey;
}


/*********************************/
/* SECTIONS 2 and 3 <item-3> <item-4> */
/* Specifications (Dimensions, Weight)
/* Pricing
/*********************************/

h3 {
/*.item-3 h3:only-child {*/
	margin-bottom: 0;
}

/*The text for the product specification details and pricing details is bold.*/
/* SPECIFICATION */
.item-3 p:nth-child(n) {
	font-weight: 900;
	font-size: .9em;
	padding: 0 5%;
	margin: 0;
}

/* PRICING */
.item-4 p:nth-child(n) {
	font-weight: 900;
	font-size: .9em;
	padding: 0 5%;
	margin: 0;
}

.item-4 {
	margin-bottom: 10px;
}

footer {
	font-size: .75em; /* Specifications text */
	margin: 2%;
}

.citation {
	font-size: .75em; /* Specifications text */
	margin-left: 50px;
}

