body {
	font-family: 'PT Sans Narrow', sans-serif;
}

/* Build a grid of cards for a company's products */
/* The Grid */
.cardContainer {
	display: flex;
	justify-content: space-around;
}

/* Each card should take up 30% of the width of the browser window.*/
/*The entire card has a solid 1px border that is lightblue.*/
.card {
	max-width: 30%;
	border: 1px solid lightblue;

}

/* The card title has a dotted 1px border that is lightgray.*/
/*The title and product image are centered. */
h2:only-child {
	border: 1px dotted lightgray;
	margin-top: 0;
	padding: 15px;
	text-align: center;
}

/* Fit the product image and text within the card */
.item-2, .item-3, .prodImage {
	max-width: 90%;
	padding: 0 5%;
}

/* The text for the description in the image is justified.*/
.prodDesc p:nth-child(n) {
	padding: 0 5%;
	margin-top: 10px;
	text-align: justify;
}

.available {
	max-width: 100%;
	color: yellow;
	font-weight: 900;
	padding: 1% 5%;
	margin-top: 10px;
	background-color: lightgrey;
}

/*The text for the product specification details and pricing details is bold.*/
.details {
	margin-bottom: 0;
}
.item-2 p:nth-child(n) {
	font-weight: 900;
	font-size: .9em;
	padding: 0 5%;
	margin: 0;
}

.item-3 p:nth-child(n) {
	font-weight: 900;
	font-size: .9em;
	padding: 0 5%;
	margin: 0;
}

footer {
	font-size: .75em;
	margin: 2%;
}


